/* Web fonts */

/* Body font: Montserrat Regular, Regular Italic & Bold */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap');

/* Anonymous Pro Regular, Regular Italic, Bold */
@font-face {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/anonymous-pro-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/anonymous-pro-bold.ttf') format('truetype');
}
/* @font-face {
    font-family: 'Anonymous Pro';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/anonymous-pro-italic.ttf') format('truetype');
} */
/* @font-face {
    font-family: 'Anonymous Pro';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/anonymous-pro-bold-italic.ttf') format('truetype');
} */



/* Global reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* Typography */

html {
    font-size: 62.5%; /* 10 px, changes with browser scale settings */
}

body {
    font-size: 1.8rem;
    color: #161616;
}

a {
    color: inherit;
    text-decoration: underline;
}

h1, h2, h3 {
    font-family: 'Anonymous Pro', monospace;
}

h1 {
    margin-bottom: 3rem;
    font-size: 4.2rem;
}

h2 {
    margin-bottom: 2rem;
}

p {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 2rem;
    line-height: 1.4;
}

main li {
    margin-top: 0.5rem;
}

main ul {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 2rem;
}

main p a {
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

main p a:hover {
    background-color: #161616;
    color: white;
}



/* General styling classes */

.float-clear {
    float: none;
}

.full-width {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    padding: 0 2rem 0 2rem;
}



/* Navbar */

nav {
    height: 15rem;
    background: #F0F0F0;
    margin-bottom: 5rem;
}

#logo {
    height: 13rem;
    width: 26rem;
    background-image: url("../images/site-logo.png");
    background-size: contain;
    float: left;
    margin-top: 1rem;
}

#logo:hover {
    background-image: url("../images/site-logo-alt.png");
}

nav ul {
    list-style: none;
    float: right;
}

nav a {
    text-decoration: none;
    font-family: "Anonymous Pro", monospace;
}

nav li {
    float: left;
    font-size: 2.4rem;
    padding: 1rem 1.3rem 1rem 1.3rem;
    margin-left: 3rem;
    margin-top: 5.1rem;
    border-radius: 1rem;
    font-weight: 400;
}

nav a:first-child li {
    margin-left: none;
}

nav li:hover {
    background: #E0E0E0;
    font-weight: 700;
}



/* Footer */

footer {
    margin-top: 30rem;
    margin-bottom: 15rem;
    float: none;
}

#bean {
    width: 3rem;
    margin-left: auto;
    margin-right: auto;
}

#bean img {
    width: 100%;
    opacity: 50%;
    transition: transform 0.2s;
}

#bean img:hover {
    transform: rotate(-6deg);
}
