/* Web fonts */

/* Body font: Montserrat Regular, Regular Italic & Bold */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap');

/* Anonymous Pro Regular, Regular Italic, Bold */
@font-face {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/anonymous-pro-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/anonymous-pro-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Anonymous Pro';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/anonymous-pro-italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Anonymous Pro';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/anonymous-pro-bold-italic.ttf') format('truetype');
}



/* Global reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* Base settings */

html {
    font-size: 62.5%; /* 10 px, changes with browser scale settings */
}

body {
    font-size: 1.8rem;
    font-family: 'Anonymous Pro', sans-serif;
}

a {
    color: inherit;
    text-decoration: underline;
}

p {
    font-family: "Montserrat", sans-serif;
}



.float-clear {
    float: none;
}

.full-width {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    padding: 0 2rem 0 2rem;
}



/* Feedback button */

#feedback {
    position: fixed;
    right: 6rem;
    bottom: 6rem;
    padding: 2rem 4rem 2rem 4rem;
    background: rgb(90, 200, 150);
    border: none;
    border-radius: 4rem;
    transition: background 0.15s;
    font-size: 2rem;
}

#feedback:hover {
    cursor: pointer;
    background: rgb(80, 220, 140);
}



/* Navbar */

nav {
    height: 15rem;
    background: #F0F0F0;
    margin-bottom: 5rem;
}

#logo {
    height: 13rem;
    width: 26rem;
    background-image: url("../images/site-logo.png");
    background-size: contain;
    float: left;
    margin-top: 1rem;
}

#logo:hover {
    background-image: url("../images/site-logo-alt.png");
}

nav ul {
    list-style: none;
    float: right;
}

nav a {
    text-decoration: none;
}

nav li {
    float: left;
    font-size: 2.4rem;
    padding: 1rem 1.3rem 1rem 1.3rem;
    margin-left: 3rem;
    margin-top: 5.1rem;
    border-radius: 1rem;
    font-weight: 400;
}

nav a:first-child li {
    margin-left: none;
}

nav li:hover {
    background: #E0E0E0;
    font-weight: 700;
}



/* Footer */

footer {
    margin-top: 30rem;
    margin-bottom: 15rem;
    float: none;
}

#bean {
    width: 3rem;
    margin-left: auto;
    margin-right: auto;
}

#bean img {
    width: 100%;
    opacity: 50%;
    transition: transform 0.2s;
}

#bean img:hover {
    transform: rotate(-6deg);
}
