/* Events */

.event {
    float: left;
    width: 48.5%;
    pointer-events: none;
    margin-bottom: -7rem;
    overflow: hidden;
}

.event a {
    text-decoration: none;
}

.event img {
    width: 100%;
    border-radius: 2rem;
    pointer-events: auto;
}

.event h3 {
    color: white;
    font-size: 2.4rem;
    width: 80%;
    position: relative;
    bottom: 4.8rem;
    left: 2rem;
    transition: transform 0.15s;
}

.event:hover h3 {
    transform: translateY(-4.5rem);
}

.event p {
    color: white;
    opacity: 0%;
    font-size: 1.6rem;
    width: 90%;
    height: 3rem;
    position: relative;
    bottom: 4.8rem;
    left: 2rem;
    transition: all 0.15s;
}

.event:hover p {
    transform: translateY(-4rem);
    opacity: 100%;
}

footer {
    margin-top: 110rem;
}
